<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <title>易企咨询-轮播管理</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
  <link href="https://cdn.bootcss.com/Swiper/3.1.2/css/swiper.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/owl-carousel/1.32/owl.theme.min.css" rel="stylesheet">
  <link href="//at.alicdn.com/t/font_701636_f1afs3axnk.css" rel="stylesheet" />


  <link href="/Plugin/layui/css/layui.css" rel="stylesheet" media="all">
  <link href="/Css/layout/bootstrap.min.css" rel="stylesheet">

  <link href="/Css/layout/common.css" rel="stylesheet" />
  <link href="/Css/layout/site.css" rel="stylesheet" />
  <link href="/Css/index.css" rel="stylesheet" />
</head>

<body class="layui-layout-body">
  <div class="content">
  	<h1 class="page-title">
  		<span>轮播管理</span>
  	</h1> 
	<div class="action-bar">
		<div class="bar-left">
			<button class="layui-btn layui-btn-normal">
				<i class="layui-icon layui-icon-add-1"></i>创建新的轮播
			</button>
		</div>
	</div>
	<div class="table">
		<table id="main-table" lay-filter="test"></table>
	</div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/cssuseragent/2.1.31/cssua.min.js"></script>
  <script src="https://cdn.bootcss.com/placeholders/4.0.1/placeholders.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
  <script src="https://cdn.bootcss.com/Swiper/3.1.2/js/swiper.min.js"></script>
  <script src="https://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.js"></script>
  <script src="/Plugin/layui/layui.js"></script>
  <script src="/Js/layout/bootstrap.min.js"></script>
  <script src="/Js/layout/root.js"></script>
  <script src="/Js/layout/site.js"></script>
  <script src="/Js/banner/banner.js"></script>

</body>

</html>