<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <title>易企咨询-轮播管理</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
  <link href="https://cdn.bootcss.com/Swiper/3.1.2/css/swiper.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/owl-carousel/1.32/owl.theme.min.css" rel="stylesheet">
  <link href="//at.alicdn.com/t/font_701636_f1afs3axnk.css" rel="stylesheet" />


  <link href="/Plugin/layui/css/layui.css" rel="stylesheet" media="all">
  <link href="/Css/layout/bootstrap.min.css" rel="stylesheet">

  <link href="/Css/layout/common.css" rel="stylesheet" />
  <link href="/Css/layout/site.css" rel="stylesheet" />
  <link href="/Css/index.css" rel="stylesheet" />
</head>

<body class="layui-layout-body">
  <div class="content">
  	<h1 class="page-title">
  		<span>资质办理</span>
  	</h1> 
	<!-- <div class="action-bar">
		<div class="bar-left">
			<button class="layui-btn layui-btn-normal">
				<i class="layui-icon layui-icon-add-1"></i>创建新的轮播
			</button>
		</div>
	</div> -->
	<form class="layui-form form-group" action="">
	  <div class="layui-form-item">
	    <label class="layui-form-label">标题</label>
	    <div class="layui-input-block">
	      <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">所属类别</label>
	    <div class="layui-input-block">
	      <select name="city" lay-verify="required">
	        <option value=""></option>
	        <option value="0">北京</option>
	        <option value="1">上海</option>
	        <option value="2">广州</option>
	        <option value="3">深圳</option>
	        <option value="4">杭州</option>
	      </select>
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">显示状态</label>
	    <div class="layui-input-block">
	      <input type="checkbox" name="like[write]" title="显示">
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">排序</label>
	    <div class="layui-input-block">
	      <input type="text" name="title" required  lay-verify="required" placeholder="请输入数字" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">发布时间</label>
	    <div class="layui-input-block">
	      <input type="text" class="layui-input" id="test1">
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">发布时间</label>
	    <div class="layui-input-block">
	      <div id="editor">
	        <p>请输入</p>
	    </div>
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
	  </div>
	</form>
  </div>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://cdn.bootcss.com/cssuseragent/2.1.31/cssua.min.js"></script>
  	<script src="https://cdn.bootcss.com/placeholders/4.0.1/placeholders.min.js"></script>
  	<script src="https://cdn.bootcss.com/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
  	<script src="https://cdn.bootcss.com/Swiper/3.1.2/js/swiper.min.js"></script>
  	<script src="https://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.js"></script>
  	<script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
  	<script src="/Plugin/layui/layui.js"></script>
  	<!-- <script src="/Js/layout/bootstrap.min.js"></script> -->
  	<script src="/Js/layout/root.js"></script>
  	<script src="/Js/layout/site.js"></script>
  	<script>
		layui.use('form', function(){
		  var form = layui.form;
		  //监听提交
		  form.on('submit(formDemo)', function(data){
		    layer.msg(JSON.stringify(data.field));
		    return false;
		  });
		});
		layui.use('laydate', function(){
		  var laydate = layui.laydate;
		  
		  //执行一个laydate实例
		  laydate.render({
		    elem: '#test1',
		    type: 'date',
		    value: new Date()
		  });
		});
	</script>
	<script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E( document.getElementById('editor') );
        editor.customConfig.uploadImgServer = '/upload';
        editor.create();
    </script>
</body>

</html>