<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="copyright" content="">

  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta property="og:type" content="article">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
  <meta name="author" content="lxm,1165406082@qq.com">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <title>易企咨询-管理平台</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
  <link href="//at.alicdn.com/t/font_701636_f1afs3axnk.css" rel="stylesheet" />


  <link href="/Plugin/layui/css/layui.css" rel="stylesheet" media="all">
  <link href="/Css/layout/bootstrap.min.css" rel="stylesheet">

  <link href="/Css/layout/common.css" rel="stylesheet" />
  <link href="/Css/layout/site.css" rel="stylesheet" />
  <link href="/Css/index.css" rel="stylesheet" />

</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">易企咨询</div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item">
          <a href="/">内容管理</a>
        </li>
        <li class="layui-nav-item active">
          <a href="/view/system.html">系统管理</a>
        </li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <span class="info-avatar">
              <img class="layui-nav-img">
            </span>
            <em>小明</em>
          </a>
        </li>
        <li class="layui-nav-item">
          <a href="">退出</a>
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
          <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
          <ul id="slide-menu" class="layui-nav layui-nav-tree" lay-filter="sys">
            <li class="layui-nav-item layui-nav-itemed">
              <a class="" href="javascript:;">首页</a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="/view/user.html" target="mainframe">用户管理</a>
                </dd>
                <dd>
                  <a href="/view/system.html" target="mainframe">类别设置</a>
                </dd>
              </dl>
            </li>
            
          </ul>
        </div>
      </div>

      <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="margin: 25px" id="scrollHeight">
          
        </div>
      </div>
    </div>
    <div class="layui-footer">
      <!-- 底部固定区域 -->
      2017-2018 © 易企咨询管理平台
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
  <script src="/Plugin/jquery.tmpl.js"></script>
  <script src="/Plugin/layui/layui.js"></script>
  <script src="/Js/layout/bootstrap.min.js"></script>
  <script src="/Js/layout/root.js"></script>
  <script src="/Js/layout/site.js"></script>
  <script>
     
    //JavaScript代码区域
    layui.use('element', function () {
      var element = layui.element;
      
    });
  
  </script>
</body>

</html>