<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="copyright" content="">

  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta property="og:type" content="article">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
  <meta name="author" content="lxm,1165406082@qq.com">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <title>易企咨询-管理平台</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
  <link href="//at.alicdn.com/t/font_701636_eraf6eifm8.css" rel="stylesheet" />
  <link href="../Plugin/layui/css/layui.css" rel="stylesheet" media="all">

  <link href="../Css/layout/common.css" rel="stylesheet" />
  <link href="../Css/layout/site.css" rel="stylesheet" />
  <link href="../Css/index.css" rel="stylesheet" />

</head>

<body class="layui-layout-body">
  
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">易企咨询</div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item">
          <a href="/">内容管理</a>
        </li>
        <li class="layui-nav-item active">
          <a href="/view/system.html">系统管理</a>
        </li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <span class="info-avatar">
              <img class="layui-nav-img">
            </span>
            <em>管理员</em>
          </a>
        </li>
        <li class="layui-nav-item">
          <a href="">退出</a>
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
          <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
          <ul id="slide-menu" class="layui-nav layui-nav-tree" lay-filter="sys">
            <li class="layui-nav-item layui-nav-itemed">
              <a class="" href="javascript:;">系统管理</a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="/view/user.html">用户管理</a>
                </dd>
                <dd>
                  <a href="/view/system.html" style="background-color: #009688;">类别管理</a>
                </dd>
              </dl>
            </li>

          </ul>
        </div>
      </div>

      <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="margin: 25px" id="scrollHeight">
          <div class="content">
            <h1 class="page-title">
              <span>类别管理</span>
            </h1>
            <div class="action-bar clearfix">
              <div class="bar-left fl">
                <a class="layui-btn layui-btn-normal" href="/view/increase.html?id=1&type=1">
                  <i class="layui-icon">&#xe654;</i>新增
                </a>
              </div>
            </div>
            <div class="tree-list">
              <div class="tree-header clearfix">
                <span class="id">#</span>
                <span class="name">类别名称</span>
                <span>排序</span>
                <span class="opera">操作</span>
              </div>
              <ul class="tree-body" id="div_tree">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-footer">
      <!-- 底部固定区域 -->
      2017-2018 © 易企咨询管理平台
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/Plugin/jquery.tmpl.js"></script>
  <script src="/Plugin/layui/layui.js"></script>
  <script src="/Js/layout/root.js"></script>
  <script src="/Js/layout/site.js"></script>
  <script src="/Js/system/system.js"></script>
  <script>
    //JavaScript代码区域
    layui.use('element', function () {
      var element = layui.element;

    });
  </script>
</body>

</html>