<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <title>易企咨询-用户管理</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
  <link href="//at.alicdn.com/t/font_701636_f1afs3axnk.css" rel="stylesheet" />


  <link href="/Plugin/layui/css/layui.css" rel="stylesheet" media="all">
  <link href="/Css/layout/bootstrap.min.css" rel="stylesheet">

  <link href="/Css/layout/common.css" rel="stylesheet" />
  <link href="/Css/layout/site.css" rel="stylesheet" />
  <link href="/Css/index.css" rel="stylesheet" />
</head>

<body class="layui-layout-body">
  <script id="user-list" type="text/x-jquery-tmpl">
    <li class="list-item clearfix">
      <span>${id}</span>
      <span>${username}</span>
      <span>${classify}</span>
      <span>${sex}</span>
      <span onclick="user.modify(${id})">${username}</span>
    </li>
  </script>
  <div class="content">
  	<h1 class="page-title">
  		<span>用户管理</span>
  	</h1> 
	<div class="action-bar clearfix">
    <div class="bar-left fl">
      <button class="layui-btn layui-btn-normal">
        <i class="layui-icon">&#xe654;</i>新增
      </button>
    </div>
    <div class="demoTable fr">
      <div class="layui-inline">
        <input class="layui-input" name="search" id="search" autocomplete="off">
      </div>
      <button class="layui-btn" data-type="reload">搜索</button>
    </div>
  </div>

  <div class="user-list">
    <div class="list-header clearfix">
      <span>#</span>
      <span>用户名</span>
      <span>密码</span>
      <span>状态</span>
      <span>操作</span>
    </div>
    
    <ul class="list-body" id="div_list">
    </ul>
    
  </div>
	<!-- <div class="table">
		<table id="main-table" lay-filter="demo"></table>
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
	</div> -->
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
  <script src="/Plugin/jquery.tmpl.js"></script>
  <script src="/Plugin/layui/layui.js"></script>
  <script src="/Js/layout/bootstrap.min.js"></script>
  <script src="/Js/layout/root.js"></script>
  <script src="/Js/layout/site.js"></script>
  <script src="/Js/user/user.js"></script>

</body>

</html>